
.fix-table-cart {
    line-height: 87px;
}

.pointer {
    cursor: pointer;
}

.active {
    border: 1px solid #3490dc !important;
    color:#3490dc !important;
}

.social:hover {
    color: #3490dc !important;
}

.badge.cart-count {
    width: 20px;
    height: 20px;
    font-size: 45%;
    padding-right: .88rem;
    padding-top: .24rem;
}